.calculator {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .display {
    background-color: #3b3b3b;
    padding: 1rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px; 
  }
  
  .display .calculation {
    font-size: 1.2rem;
    color: #aaa;
    height: 50%; 
    overflow: hidden;
  }
  
  .display .result {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.5rem;
    height: 50%; 
    overflow: hidden;
    display: flex;
    align-items: flex-end; 
  }
  
  .memory-operations {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }
  
  button {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .highlighted-button {
    grid-column: span 2;
    background-color: orange;
  }
  
  .highlighted-button:hover {
    background-color: #cb9227;
  }

button:disabled {
  background-color: #666;  
  color: #bbb;  
}

button:disabled:hover {
  background-color: #666;  
}
  
   /* Media Query */
  @media (max-width: 768px) {
    .buttons {
      grid-template-columns: repeat(4, 1fr); 
    }
  
    button {
      font-size: 1rem; 
      padding: 0.8rem;
    }
  
    .display .result {
      font-size: 1.5rem; 
    }
  }
  
  @media (max-width: 480px) {
    .memory-operations{
        justify-content: space-between;
    margin: 0.5rem 0;
    }
    .buttons {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  